<mat-progress-spinner *ngIf="loading" mode="indeterminate" class="spinner"></mat-progress-spinner>
<div *ngIf="!loading">
  <h1 class="title">Todo list</h1>
  <div *ngFor="let todo of todos" class="container">
    <div class="content">
      {{ todo.title }}
    </div>
    <div class="buttons">
      <button mat-raised-button color="primary" (click)="update(todo)">Update</button>
      <button mat-mini-fab color="warn" (click)="delete(todo.id)"><mat-icon>delete</mat-icon></button>
    </div>
  </div>
</div>
